@import "./global.scss";

main {
  padding: 0 0.9rem;
  h4 {
    margin-top: 3rem;
    letter-spacing: 2.41px;
  }
  p {
    margin-bottom: 0.2rem;
  }
  .title-ingredients {
    @include flex-baseline(column, flex-start);
  }
  .text-ingredients {
    margin: 2rem 0;
  }
  .info-nutrimental {
    background: $bkg-color;
    width: 100%;
    height: 409px;
    margin-bottom: 2rem;
    @include flex(row, center);
    img {
      max-width: 30%;
      left: -35px;
      top: -30px;
      position: relative;
    }
    .title-info {
      width: 70%;
      height: 396px;
      padding-right: 1rem;
      @include flex-align(space-around, flex-end);
    }
    .number-info {
      height: 396px;
      padding-left: 1rem;
      width: 30%;
      @include flex-align(space-around, flex-start);
    }
  }
}

@include sm-min {
  main {
    h4 {
      margin-bottom: 3rem;
    }
    .content-ingredients {
      @include flex-baseline(row, flex-start);
      flex-wrap: nowrap;
    }
    .title-ingredients {
      width: 50%;
      padding-right: 2rem;
      .bold {
        font-weight: bold;
      }
    }
    .info-nutrimental{
      margin-bottom: 4rem;
    }
  }

}

@include lg{
  main{
    padding: 0 15%;
    margin-top: 10rem;
  }
}

@include xxl {
  main{
    margin-top: 17rem;
  }
}
